# Carga de datos a traves de la funcion read_csv

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv(r"C:\Users\PC GAMER\OneDrive\PROGRAMACION\DATA SCIENCE\MACHINE LEARNING CON PYTHON\python-ml-course\datasets\titanic\titanic3.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\PC GAMER\\OneDrive\\PROGRAMACION\\DATA SCIENCE\\MACHINE LEARNING CON PYTHON\\python-ml-course\\datasets\\titanic\\titanic3.csv'

In [3]:
data.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

# Carga de datos a traves de la funcion open

In [5]:
data3=open(r"C:\Users\PC GAMER\OneDrive\PROGRAMACION\DATA SCIENCE\MACHINE LEARNING CON PYTHON\python-ml-course\datasets\customer-churn-model\Customer Churn Model.txt")

In [6]:
data.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [7]:
data3=open(r"C:\Users\PC GAMER\OneDrive\PROGRAMACION\DATA SCIENCE\MACHINE LEARNING CON PYTHON\python-ml-course\datasets\customer-churn-model\Customer Churn Model.txt")

In [8]:
data3=open(r"C:\Users\PC GAMER\OneDrive\PROGRAMACION\DATA SCIENCE\MACHINE LEARNING CON PYTHON\python-ml-course\datasets\customer-churn-model\Customer Churn Model.txt", "r")

In [16]:
cols =data3.readline().strip().split(",")
cols

['AL',
 '118',
 '510',
 '391-8027',
 'yes',
 'no',
 '0',
 '223.400000',
 '98',
 '37.980000',
 '220.600000',
 '101',
 '18.750000',
 '203.900000',
 '118',
 '9.180000',
 '6.300000',
 '6',
 '1.700000',
 '0',
 'False.']

In [14]:
n_cols

NameError: name 'n_cols' is not defined

In [18]:
ncols=len(cols)

In [26]:
cols

['AL',
 '118',
 '510',
 '391-8027',
 'yes',
 'no',
 '0',
 '223.400000',
 '98',
 '37.980000',
 '220.600000',
 '101',
 '18.750000',
 '203.900000',
 '118',
 '9.180000',
 '6.300000',
 '6',
 '1.700000',
 '0',
 'False.']

In [20]:
len(cols)

21

# Lectura y escritura de ficheros

In [21]:
infile= r"C:\Users\PC GAMER\OneDrive\PROGRAMACION\DATA SCIENCE\MACHINE LEARNING CON PYTHON\python-ml-course\datasets\customer-churn-model\Customer Churn Model.txt"

In [22]:
outfile=r"C:\Users\PC GAMER\OneDrive\PROGRAMACION\DATA SCIENCE\MACHINE LEARNING CON PYTHON\python-ml-course\datasets\customer-churn-model\Tab Customer Churn Model.txt", "r"

# Leer datos desde URL

In [27]:
medals_url = "http://winterolympicsmedals.com/medals.csv"

In [28]:
medals_data=pd.read_csv(medals_url)

In [29]:
medals_data.head()

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

# Ficheros XLS y XLSX

In [31]:
titancic2=pd.read_excel(r"C:\Users\PC GAMER\OneDrive\PROGRAMACION\DATA SCIENCE\MACHINE LEARNING CON PYTHON\python-ml-course\datasets\titanic\titanic3.xls", "titanic3")